@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

body{
    margin: 0px 20px 20px 20px;
}

p, h1{
    font-family: 'Raleway', sans-serif;
}

span{
    color: #FFDD00;
    font-weight: bold;
}

html{
    scroll-behavior: smooth;
}

header li,a,button{
    text-decoration: none;
    color: black;
    font-size: 20;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

header{
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 15px;
    width: 100%;
}

nav{
    padding-right: 5%;
}

nav li {
    display: inline-block;
    padding: 25px 20px;
}

nav li a:hover {
    color:#FFDD00;
}

nav li a:active {
    font-weight: bold;
    color: #FFDD00;
}

nav li a {
    color: #003379;
}

button{
    padding: 9px 25px;
    margin-left: 20px;
    background-color: #003379;
    border: none;
    border-radius:50px;
    cursor: pointer;
    color:white;
}

button:hover{
    background-color: #FFDD00;
    color: black;
    transition: 0.4s;
}

.banner{
    background: url(img/banner1.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    padding: 15%;
    margin-bottom: 20px;
    align-content: center;
    text-align: center;
}

.banner h1, .banner h2 {
    text-align: center;
    font-family: 'Roboto';
}

.banner h1{
    color: white;
    font-weight: 500;
}

.banner h2 {
    color: #FFDD00;
    font-weight: 400;
}

.banner h1 {
    font-size: 50px;
}

.projects{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}

.projectcolumn{
    padding-right: 2%;
}

.paragraphs{
    margin-bottom: 20px;
    display: flex;
    background: url(img/papiri.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    align-items: center;
}

.paragraphs h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    color: #FFDD00;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}

.paragraphs p {
    color: white;
    text-align: center;
    font-size: 125%;
}

.paragraphscolumn{
    flex:1;
    padding: 10%;
}

footer{
    display:flex;
    align-items: baseline;
    background-color: #32344a;
    padding: 20px 10%;
    font-family: 'Roboto', sans-serif;
}
 
footer h1, footer h2, footer p{
    color: white;
}

.footercolumn{
    flex:1;
}

.copyright p{
    text-align: center;
    margin: 20px;
}