@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

body{
    margin: 0px 20px 20px 20px;
}

p, h1{
    font-family: 'Raleway', sans-serif;
}


header li,a{
    text-decoration: none;
    color: black;
    font-size: 20;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

header{
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 10%;
    padding-left: 15px;
    position: fixed;
    width: 100%;
}

nav li {
    display: inline-block;
    padding: 25px 20px;
}

nav li a:hover {
    color:#FFDD00;
}

nav li a {
    color: #003379;
}

.banner{
    height: 700px;
    background: url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    padding: 300px;
}

.banner h1, .banner h2 {
    text-align: center;
    font-family: 'Roboto';
}

.banner h2 {
    color: #003379;
}

.banner h1 {
    font-size: 50px;
}

.NasiProjekti h1{
    text-align: center;
    font-family: 'Roboto';
    padding-top: 15px;
    padding-bottom: 15px;
}

.Projekti{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projektikolona{
    padding-left: 0.5%;
    padding-right: 0.5%; 
    width: 19.2%;
}

.projektikolonadesno{
    padding-left: 0.5%;
    width: 19.2%;
}

.projektikolonalevo{
    padding-right: 0.5%;
    width: 19.2%;
}

.ONama{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #7d8cb0;
    padding: 20px 25em;

}

footer{
    display:flex;
    align-items: baseline;
    background-color: #7d8cb0;
    padding: 20px 25em;
    font-family: 'Roboto', sans-serif;
}
 
footer h1, footer h2, footer p{
    color: #003379;
}

.footercolumn{
    flex:1;
}